<div class="p-4 lg:p-8">
  <div class="flex items-center mb-8">
    <h1 class="font-bold deltaBlog">Articles</h1>
    <div class="flex-grow"></div>
    <% if logged_in? %>
      <%= link_to 'Create new Article', new_article_path, class: 'btn-primary py-2'%>
    <% end %>
  </div>
  <%= render 'articles/listing-card' %>
  <%= render 'shared/pagination/apple', object: @articles %>
</div>
